/*        EMERGENCY PAGE       */

body.body_emergency {
    min-height: 100vh;
    background-image: url("Images/Emergency Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

body.body_emergency .emergency.page {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    width: 75%;
    margin: 20px auto 80px auto;
}

body.body_emergency .plant-form {
    width: 500px;
    background-color: white;
    padding: 16px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 14px;

    font-family: Garamond, serif;
    animation: fadeIn 1s ease;
}

body.body_emergency .plant-form input[type="text"] {
    height: 34px;
}

body.body_emergency .form-option input {
    display: none;
}
 body.body_emergency .form-option:has(input:checked) {
    background-color: #20202074;
    color: #212121;
}

body.body_emergency .submit-btn {
    background-color: black;
    color: white;
}

body.body_emergency .emergency.page > p {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 64px;
    line-height: 0.9;
    margin: 0;
    padding-top: 10px;
    max-width: 500px;
    animation: slideLeft 2s ease forwards;
}

body.body_emergency .emergency-text {
    color: white;
    font-family: Garamond, serif;
    margin-top: 10px;
}

body.body_emergency .emergency-title {
    font-size: 64px;
    line-height: 0.9;
    margin: 0;
    animation: slideLeft 2s ease forwards;
}

body.body_emergency .emergency-subtitle {
    font-size: 26px;
    margin-top: 10px;
    animation: slideLeft 2s ease forwards;
}

.popup {
    display: none;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 500px;
    padding: 40px;

    background-color: #878d5d;
    color: white;
    text-align: center;

    z-index: 1000;
    animation: fadeIn 0.5s ease;
}

.checkmark {
    width: 70px;
    height: 70px;

    border: 4px solid white;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;

    font-size: 40px;
}

.close-btn {
    position: absolute;
    right: 15px;
    top: 10px;

    border: none;
    background: none;

    color: white;
    font-size: 40px;
    cursor: pointer;
}


.plant-form input[type="text"] {
    border: 1px solid #777;
}


.plant-form input[type="text"].touched:invalid {
    border: 2px solid red;
}

.plant-form input[type="text"].touched:valid {
    border: 2px solid green;
}


.plant-form input#name.touched:valid {
    border: 1px solid #777;
}

.backbtn{
    border: none;
    background: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-left: 50px;
    margin-top: 50px;
}
.backbtn:hover {
    transform: scale(1.2);
}
.backbtn img {
    width: 100px;
}